<div class="container" style="padding-top:100px;">
	
	<h1>Uploaded Successfully to Minio Server </h1>
    <table class="table table-striped table-responsive">
   	<thead>
   		<tr>
   		        <th> Count </th>
   		        <th> File Name</th>
   		        <th> Upload Date</th>
   		</tr>
   	</thead>
	<tbody>
	<% @uploads.each do |upload| %>
	
		 
			
		 
	 	<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
			<td><%= upload.id %> </td>
			
		 	<td>
		    <div>
		        <%= link_to upload.name, upload.url %>
		    </div>
			</td>
			<td><%= upload.updated_at %> </td>
		</tr>
		 
		
	<% end %>
	</tbody>
 </table>	
</div>